<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <!--테이블생성시필드명에밑줄을카멜표기법으로매칭-->
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true" />
    </settings>
    <!--마이바티스빈객체검색을위한패키지정보설정-->
    <typeAliases>
        <package name="com.bootcamp.induk.domain" />
    </typeAliases>
    <mappers>
        <mapper resource="mybatis/mappers/userMapper.xml"/>
        <mapper resource="mybatis/mappers/boardMapper.xml"/>
        <mapper resource="mybatis/mappers/replyMapper.xml"/>
    </mappers>
</configuration>