* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Noto Sans KR", sans-serif;
}
.container {
    width: 50%;
    margin: auto;
}
.writing-header {
    position: relative;
    margin: 20px 0 0 0;
    padding-bottom: 10px;
    border-bottm: 1px solid #323232;
}
input {
    width: 100%;
    height: 35px;
    margin: 5px 0px 10px 0px;
    border: 1px solid #e9e8e8;
    padding: 8px;
    background: #f8f8f8;
    outline-color: #e6e6e6;
}
textarea {
    width: 100%;
    background: #f8f8f8;
    margin: 5px 0px 10px 0px;
    border: 1px solid #e9e8e8;
    resize: none;
    padding: 8px;
    outline-color: #e6e6e6;
}
.frm {
    width: 100%;
}
.btn {
    background-color: rgb(236, 236, 236);	/* Blue background */
    border: none; /* Remove borders */
    color: black;	/* White text */
    padding: 6px 12px;	/* Some padding */
    font-size: 16px;	/* Set a font size */
    cursor: pointer;	/* Mouse pointer on hover */
    border-radius: 5px;
}
.btn:hover {
    text-decoration: underline;
}