<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>인덕부트캠프</title>
</head>
<body>
	<!-- Menu Bar -->
	<div id="menu" th:fragment="menufragment">
		<ul>
			<li id="logo">Induk Univ.</li>
			<li><a th:href="@{'/'}">Home</a></li>
			<li><a th:href="@{'/board/list'}">Board</a></li>
			<th:block>
				<li th:if="${session.id == null}">
					<a th:href="@{'/login/login'}">Login</a>
				</li>
				<li th:unless="${session.id == null}">
					<a th:href="@{'/login/logout'}">Logout</a>
				</li>
			</th:block>
			<li><a th:href="@{'/register/add'}">Sign in</a></li>
			<li><a href=""><i class="fa fa-search"></i></a></li>
		</ul>
	</div>
	<!-- /.Menu Bar -->
</body>
</html>