
<html>
<head>
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-1.11.3.js"></script>
</head>
<body>
    <h2>reply Test</h2>
    reply: <input type="text" name="reply"><br>
    <button id="sendBtn" type="button">SEND</button>
    <button id="modBtn" type="button">MODIFY</button>
    <div id="replyList"></div>
    <div id="nestedReplyForm" style="display:none">
    	<input type="text" name="nestedReplyreply">
    	<button id="writeNestedReplyBtn" type="button">등록</button>
    </div>
    
    <script>
    	let bno = 291;
    
    	let showList = function(bno) {
    		$.ajax({
    			type: 'GET',	// 요청 메서드
    			url: '/replies?bno=' + bno,	// 요청 URI
    			success: function(result) {
    				$("#replyList").html(toHTML(result)); // person2 = JSON.parse(result);	// 서버로부터 응답이 도착하면 호출될 함수
  	 			},
    			error: function() { alert("error") }	// 에러가 발생했을 때 호출될 함수
    		});	// $.ajax()
    	}

        let toHTML = function(replies) {
            let tmp = "<ul>";

            replies.forEach(function(reply) {
                tmp += '<li data-rno=' + reply.rno
                tmp += ' data-prno=' + reply.prno
                tmp += ' data-bno=' + reply.bno + '>'
                if(reply.rno != reply.prno)
                    tmp += 'ㄴ'
                tmp += ' replier=<span class="replier">' + reply.replier + '</span>'
                tmp += ' reply=<span class="reply">' + reply.reply + '</span>'
                tmp += ' up_date=' + reply.up_date
                tmp += '<button class="delBtn">삭제</button>'
                tmp += '<button class="modBtn">수정</button>'
                tmp += '<button class="nestedReplyBtn">답글</button>'
                tmp += '</li>'
            })

            return tmp + "</ul>";
        }

        $(document).ready(function(){
        	showList(bno);
        	
        	$("#writeNestedReplyBtn").click(function() {
        		let reply = $("input[name=nestedReplyreply]").val();
        		let prno = $("#nestedReplyForm").parent().attr("data-prno");
        		
        		if(reply.trim() == '') {
        			alert("댓글을 입력해주세요");
        			$("input[name=nestedReplyreply]").focus()
        			return;
        		}
        		
        		$.ajax({
        			type: 'POST',		// 요청 메서드
        			url: '/replies?bno=' + bno	,	// 요청 URI	// /induk/replies?bno=893	POST
        			headers: { "content-type" : "application/json"},	// 요청 헤더
        			data: JSON.stringify({prno:prno, bno:bno, reply:reply}),	// 서버로 전송할 데이터, stringify로 직렬화 필요
        			success: function(result) {
        				alert(result);
        				showList(bno);
        			},
        			error: function() { alert("error") }	// 에러가 발생했을 때, 호출될 함수
        		});	// $.ajax()
        		
        		$("#nestedReplyForm").css("display", "none")
        		$("input[name=nestedReplyreply]").val('')
        		$("#nestedReplyForm").appendTo("body");
        	});
        	

            $("#sendBtn").click(function() {
            	let reply = $("input[name=reply]").val();
            	
            	if(reply.trim() == '') {
            		alert("댓글을 입력해주세요.");
            		$("input[name=reply]").focus()
            		return;
            	}
            
            	$.ajax({
           			type: 'POST',	// 요청 메서드
           			url: '/replies?bno=' + bno,	// 요청 URI	// /induk/replies?bno=893 POST
           			headers: { "content-type" : "application/json" },	// 요청 헤더
           			data: JSON.stringify({bno: bno, reply: reply}),	// 서버로 전송할 데이터, stringify()로 직렬화 필요
           			success: function(result) {
          				alert(result);
          				showList(bno);
           			},
           			error : function() { alert("Write error"); }
            	})
            });
            
            $("#modBtn").click(function() {
            	let rno = $(this).attr("data-rno");
            	let reply = $("input[name=reply]").val();	
            	
            	if(reply.trim() == '') {
            		alert("댓글을 입력해주세요");
            		$("input[name=reply]").focus()
            		return;
            	}
            	
            	$.ajax({
            		type: 'PATCH',		// 요청 메서드
            		url: '/replies/' + rno,	// 요청 URI 	// /induk/replies/70	PATCH
            		headers: { "content-type" : "application/json"},	// 요청 헤더
            		data: JSON.stringify({rno:rno, reply:reply}),	// 서버로 전송할 데이터, stringify()로 직렬화 필요
            		success: function(result) {
            			alert(result);
            			showList(bno);
            		},
            		error: function() { alert("error") }	// 에러가 발생했을 때, 호출될 함수
            	});	// $.ajax()	
            });
            
            $("#replyList").on("click", ".nestedReplyBtn", function() {
				// 1. nestedReplyForm을 옮기고
            	$("#nestedReplyForm").appendTo($(this).parent());
				
            	// 2. 답글을 입력할 폼을 보여준다.
            	$("#nestedReplyForm").css("display", "block");
            })
            
            $("#replyList").on("click", ".modBtn", function() {
            	let rno = $(this).parent().attr("data-rno");
            	let bno = $(this).parent().attr("data-bno");
            	let reply = $("span.reply", $(this).parent()).text();
            	
            	// 1. reply의 내용을 input에 뿌려주기
            	$("input[name=reply]").val(reply);
            	// 2. rno 전달하기
            	$("#modBtn").attr("data-rno", rno);
            })
            
           	$("#replyList").on("click", ".delBtn", function() {
            	let rno = $(this).parent().attr("data-rno");
            	let bno = $(this).parent().attr("data-bno");
           		$.ajax({
            		type: 'DELETE',		// 요청 메서드
            		url: '/replies/' + rno + '?bno=' + bno,	// 요청 URI
            		success: function(result) {
            			alert(result)
            			showList(bno);
            		},
            		error: function() {alert("error")}	// 에러가 발생했을 때, 호출될 함수
            	})	// $.ajax()
            })
        });

    </script>
</body>
</html>